html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 250px 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header"
    "left main main"
    "footer footer footer";
}

.main-header {
  grid-area: header;
}

.container {
  grid-area: main;
}

.left-side {
  grid-area: left;
}

.footer {
  grid-area: footer;
  height: 150px;
  background-color: black;
}
